.game-info{
  margin-bottom: 30px;
  width: fit-content;
  position: fixed;
  bottom: 10px;
}

.game-info::before{
  content: 'Toggle Move List';
  position: fixed;
  top: -20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 3px 6px;
  border-radius: 5px;
  font-size: 12px; /* Adjust font size */
  white-space: nowrap;
  opacity: 0; /* Initially hidden */
  transition: opacity 2.5s ease, transform 2.5s ease; /* Fade-in effect */
  transform: translateY(10%); /* Start off the screen */
}

.game-info:hover::before {
  opacity: 1; /* Show tooltip on hover */
  transform: translateY(2200%); /* Move the tooltip onto the screen */
}