.App {
  text-align: center;
}

img{
  display: block;
  position: relative;
  top: 35%;
  left: 50%;
}

h1{
  position: absolute;
  top: 20px;
}
.react-logo{
  top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  

}
.App-logo {
  height: 50vmin;
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.35;
  animation: rotateClockwise 5s linear infinite;
}

@keyframes rotateClockwise {
  0% {
    transform: translate(-50%, -50%) rotate(0deg); /* Start rotation from 0 degrees */
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg); /* Rotate 360 degrees for one complete rotation */
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.squares{
  width: 80px;
  height: 60px;
  border-radius: 15px;
  margin-top: 5px;
  margin-right: 3px;
}
.board-box{
  position: fixed;
  bottom: 100px;
  left: 40%;
  width: 500px;
  justify-content: center;
}
.square-row-box{
  display:flex;
}